<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emerson Mobile App</title>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="normalize.css"> -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
  </head>
  <body>
    <div class="item-list" *ngFor="let mrir_list of mrir_list"> 
      <mat-card style="margin-top: 10px;">
      <p><label>Item : </label>  {{ mrir_list.item }}</p>
      <p><label>Description : </label>  {{ mrir_list.description }}, HE</p>
      <p><label>PO Line Text # :</label> {{ mrir_list.poline }}</p>
      <p><label>LOT : </label> {{ mrir_list.lot }}</p>
      <p><label>MP : </label> {{ mrir_list.mp }}</p>
      <p><label>Order : </label> {{ mrir_list.order }}</p>                                       
      <p><label>Line  : </label>  {{ mrir_list.line }}</p>
      <p><label>Inspection ID | Sequance  Number : </label> {{ mrir_list.sequenceno }}    </p> 
      </mat-card>
    </div>
  </body>
</html>
