@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,380;0,600;0,700;1,300;1,400&display=swap');
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 1.5;
	background:#dee5ea;
	font-weight:600;
}
blockquote, body, dd, dl, figcaption, figure, h1, h2, h3, h4, h5, li, ol[class], p, ul[class] {
    margin: 0;
}
img{
    max-width: 100%;
}
p{
    color: #9c9c9c;
}
.container{
    margin: 0 auto;
    max-width: 1280px;
    padding: 0px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.btn {
    background: #00aa7e;
    border:3px solid  #00aa7e;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    list-style: none;
    padding: 12px 30px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}
.btn.secondry-btn {
    background: #fff;
    color: #00aa7e;
}

.page-header-main {
    display: none;
    left: 0;
    padding: 0 24px 24px;
    width: 100%;
    z-index: 9999;
}
.page-header-section{
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    background:rgba(255,255,255, .9);

}
.page-header {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column;
}
.logo {
    width: auto;
    grid-template-columns: 100% 0%;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.logo img{
    width:100px;
}
span.logo-text {
    font-size: 24px;
    text-transform: uppercase;
    color: #193c93;
    font-weight: 700;
    margin: 0 0 0 10px;
}
ul.main-menu {
    box-sizing: border-box;
    font-weight: 600;
    width: 100%;
}
ul.main-menu li {
    list-style: none;
}
ul.main-menu li {
    list-style: none;
    padding: 20px;
    font-size: 14px;
}
ul.main-menu li  a{
    color: #1b1b1b;
    text-decoration:none;
    list-style: none;
    padding: 8px 20px;
    font-size: 14px;

}
ul.main-menu li a:hover,ul.main-menu li a:focus {
    background: #2159e6;
    border-radius: 30px;
    color: #fff;
    outline: 0;
}


.page-footer{
        background: #2159e6;
        color: #fff;
        text-align: center;
        padding: 20px;
        font-size: 12px;
}
.page-footer p{
    color:#76a4e9;
}



    .page-header-main {
        display: grid;
        grid-template-columns: 100% 0%;
        left: inherit;
        padding: 0;
        position: relative;
        top: inherit;
        z-index: inherit;
    }
.page-header {
    display: flex;
    flex-flow: column;
    padding-bottom: 0;
}
.logo {
    width: auto;
    grid-template-columns: 100% 0%;
}
ul.main-menu {
    display: flex;
    justify-content: space-between;
    width: inherit;
}


.page-header {
	flex-flow: row;
}
.logo {
	flex-basis: 250px;
	height: inherit;
}
ul.main-menu {
	justify-content: flex-end;
}
section.page-header-section {
    box-shadow: 0 0 22px 0 rgb(0 0 0 / 50%);
}
section.page-body-section{
	padding:30px;
}
.row {
    display: flex;
    width: 100%;
    flex-flow: row;
	background:#fff;
}
.row .col-left{
		width: 30%;
		background:#ecf2f5;
}
.row .col-main{
	width:70%;
}

.search-box {
    background: #004785;
    padding: 20px 40px;
}
.search-box .input-box {
    position: relative;
    padding: 0px 60px 0px 0px;
    background: #fff;
    border-radius: 30px;
}
.search-box input.input-text {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 0;
    background: none;
}
.search-box button {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: 0;
    color: #acacac;
    padding: 0;
    height: 100%;
    width: 60px;
}

.search-box button .material-icons {
    font-size: 30px;
    line-height: 40px;
}
.list-hdr {
       position: relative;
    padding: 20px 60px 20px 70px;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 12%);
}
span.s-n {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #ff7e7e;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 22px;
    top: 20px;
}
h2 {
    font-size: 18px;
}
/* .list-hdr span.arrow {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    width: 60px;
    text-align: center;
    line-height: 108px;
    background: #f5f6f8;
    color: #004785;
    font-size: 36px;
} */


.list-hdr p.vc {
    color: black;
}
.list-hdr p.mri .material-icons {
    vertical-align: middle;
    font-size: 22px!important;
    color: #a8a8a8;
    margin-right: 10px;
}
.list-hdr p.mri .material-icons:nth-child(2){
	margin-left:15px;
}
ul.list-blocks {
    list-style: none;
    padding: 20px 20px;
    /* background: #f5f6f8; */
}

ul.list-blocks li {
	position:relative;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 10%);
	margin-bottom:26px;
}
.list-blocks li span.s-n {
    position: absolute;
    left: 10px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: #eb445a;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 12px;
    top: 20px;
    font-weight: 600;
}
.list-blocks li .item {
    position: relative;
    padding: 10px 10px 10px 60px;
}
.list-blocks li .item h3{
	font-size:16px;
}
.list-blocks li .item p.qty {
    color: #000;
}
.list-blocks li  .location {
    border-top: 1px solid #d1d6df;
    padding: 15px 15px 15px 60px;
    position: relative;
}
.list-blocks li  .location .icon{
    color: #00aa7e;
    font-size: 32px;
    position: absolute;
    left: 16px;
}
.list-blocks li  .location .text{
	color:#000;
}
.col-main-hdr {
    background: #00aa7e;
    padding: 20px 60px;
    color: #fff;
}
.col-main-hdr h1 {
    display: inline-block;
    margin: 0;
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
}
.col-main-hdr .company-info {
    float: right;
	padding-top:10px;
}
.col-main-hdr .company-info span {
    background: #fff;
    color: #004785;
    font-size: 14px;
    font-weight: 600;
    padding: 2px 19px;
    border-radius: 10px;
    margin: 0 10px;
}
.col-main-hdr .company-info span.active {
    background: #004785;
    color: #fff;
}
.item-details .top{
	position:relative;
	padding:20px 100px;
    border-bottom: 1px solid #d1d6df;
}
.item-details .bottom{
	position:relative;
	padding:20px 60px;
    border-bottom: 1px solid #d1d6df;
}
.item-details .top span.s-n {
    position: absolute;
    left: 55px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: #eb445a;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 12px;
    top: 26px;
    font-weight: 600;
}
.item-details .bottom{
display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". ."
    ". .";
}
.item-details .bottom label{
	color:#000;
}
.review-block {
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 10%);
    margin: 20px 80px;
    padding: 20px 50px;
    border-radius: 20px;
}
.review-block h2 {
    font-weight: 380;
    font-size: 22px;
   margin: 0 0 20px;
}
span.radio-icon {
    border: 4px solid #00aa7e;
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    background: #fff;
    box-shadow: 0 0 0 3px white inset;
    margin: 0 10px 0 0;
}
span.radio-icon.active {
    background: #02ab7f;
}
.review-block textarea.input-textarea {
    max-width: 100%;
    width: 100%;
    border: 1px solid #d1d6df;
    margin: 20px 0 0;
    min-height: 100px;
	border-radius: 8px;
}
.input-text,.input-select{
	border: 1px solid #d1d6df;
	border-radius: 8px;
	line-height:24px;
	padding:10px;
	
}

.actions{
	 margin: 20px 80px;
    padding: 20px 0;
	text-align:right;
}
.actions .btn{
	margin-left:30px;
}
.review-options {
    padding: 20px 70px;
}
.review-options .option .input-text{
	max-width:80px;
}
.review-options .option {
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 1.6fr;
  grid-template-rows: 0.5fr;
  gap: 20px;
  grid-template-areas:
    ". . ."
    ". . .";
}
.review-options h3 {
    margin: 0 0 30px;
}


/* normalize css */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
